$bluecolor:#79aafa;
$rosecolor:#ed3c8a;
$greycolor:#efefef;
$black:#000;
$yellowcolor:#fff111;

$break-mobile: 767px;
$break-ipad-landscape: 1024px;
$break-ipad-portrait: 991px;
$break-1440: 1440px;

$break-min-1440: 1440px;
